 
 @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

 html{
       size-font: 18px; 
 }

 body{
       font-family: 'Open Sans Condensed', sans-serif;
       background-color: #ccc;
 }

 div{
      max-width: 53.3333rem;  /* 960px / 18px */
      margin: 0 auto;
}

 h1, h2{
         color: white;
         font-style: italic;
         text-shadow: .2em .2em .2em black;
         margin-top: .5em;         
 }
 header > h1{
             font-size: 2em;
 }


 main{
      display: grid;
      grid-template-columns: 23.5555rem 2fr;
      grid-column-gap: 0.8888em; 
}

 img{ 
      border: 1px solid black;
      box-shadow: 0.3333em 0.3333  black;
      width: 100%;
 }

 section:first-child{
                     grid-row: 1 / span 3;

 }
 
 section:nth-child{
                  grid-row: 1 /  2;
 }
 
 section:last-child{
                   grid-row: 2 / 3;

 
 }

section > h2{
            font-size: 1.5em;

 }


 ol{
       font-style: italic;
       display: block;
       border: 1px solid;
       border-radius: .5em;
       padding: .5em 1em;
       margin-left: .5em;

 }

 ul{
       list-style: none;
       margin: .5em auto;
       padding: .5555em auto;
      
 }

 footer  p{
             margin-bottom: 18.5em;
             text-align: center;
             padding: 0 auto;
}

 a{
   color: red;
 }

a:hover{
   color: olive

 }
