 
 @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

 html{
       size-font: 18px; 
 }

 body{
       font-family: 'Open Sans Condensed', sans-serif;
       background-color: #ccc;
 }

 div{
      max-width: 53.3333rem;  /* 960px / 18px */
      margin: 0 auto;
}

 h1, h2{
         color: white;
         font-style: italic;
         font-size: 2.6666rem;
         text-shadow: .2em .2em .2em silver;
                 
 }


 main{
      display: grid;
      grid-template-columns: 23.5555rem 2fr;
      grid-column-gap: 0.8888em; 
}

 img{ 
      border: 1px solid black;
      box-shadow: 0.1111em solid black;
      width: 100%;
 }

 section:first-child{
                     grid-row: 1 / span 3;

 }
 
 section:nth-child{
                  grid-row: 1 /  2;
 }
 
 section:last-child{
                   grid-row: 2 / 3;

 }
 ol li{
       font-style: italic;
       display: block;
       border: 1px solid;
       border-radius: .5em;
       padding: .5em 1em;
       marging: .5em;

 }

 ul li{
       font-variant: small-caps;
       margin: 0;
      
 }
