 
 @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

 html{
       size-font: 18px; 
 }

 body{
       font-family: 'Open Sans Condensed', sans-serif;
       background-color: #ccc;
 }

 div{
      max-width: 53.3333rem;  /* 960px / 18px */
      margin: 0 auto;
}

 h1, h2{
         color: white;
         font-style: italic;
         text-shadow: .2em .2em .2em black;
         margin-top: .5em;         
 }
 header > h1{
             font-size: 3em;
 }


 main{
      display: grid;
      grid-template-columns:  23.2222em 1fr;
      grid-column-gap: 0.8888em; 
      grid-template-rows: auto auto 5em;
      grid-column-gap: 0.8888em;
      margin: 2.5%;
}

 img{ 
      border: 1px solid black;
      box-shadow: 0.3333em 0.3333  black;
      width: 100%;
 }
 section:first-child{
                     grid-row: 1 / span 2;

 }
 
 section:nth-child{
                  grid-row: 1 /  2;
                  margin: 0 auto; 
}
 
 section:last-child{
                   grid-row: 2 / 3;
                   margin: 0 auto;
 
 }

section > h2{
            font-size: 2em;

 }


 ol{
       font-style: italic;
       display: block;
       border: 1px solid;
       border-radius: .5em;
       border-top-right-radius: 1.3888em;
       border-top-left-radius: 1.3888em;
       border-side-left-radius: 1.3888em;
       padding: .5em 1em; 
       margin: 0 auto;

 }


 ul{

       list-style: none;
       align-items: center;
       padding: .5em;
       border: 1px solid;
       border-radius: .5em;
       margin: 0;
       
 }

ol li{
     margin: 0 1em;

}

ul li{
      margin: 0 1 em;

} 


 footer  p{
             margin-bottom: -30em;
             text-align: center;
             padding: 0 auto;
}

 a{
   color: red;
 }

a:hover{
   color: olive

 }
